.progress-overlay{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    .progress-indicator{
      width: 50px;
      height: 50px;
      font-size: 22px;
    }
  }